/* #main {
    margin-top: 60px;
} */

.centered {
  position: absolute;
  left: 50%;
  margin-left:-198px;
  top: 50%;
  margin-top: -250px;
}

body {
  background: url(/backgrounds/new_york.jpg) no-repeat center center fixed;
  background-size: cover;
}

/* body {
  background-color: transparent;
} */

.dropped {
  margin-top: 180px;
}

@media (min-width: 768px) {
  .navbar {
    border-radius: 0px;
  }
}

.jumbotron {
  border-style: solid;
  border-width: 1px;
  background-color: rgba(238,238,238, 0.5);
  padding: 10px;
  margin: 10px;
}

h1 {
  margin-bottom: 1em;
}

.not-hyper {
  color: inherit;
}

a:hover.not-hyper,
a:focus.not-hyper {
  color: #555555;
  text-decoration: none;
}

.one-page {
  padding-bottom: 50rem;
}

.carousel {
  width:50%;
  max-width: 667px ;
}
