<template name="header">
    <nav class="navbar navbar-inverse" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navigation">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">
          <svg style="margin-top: -12px;" x="0px" y="0px" width="82.5px" height="63.75px" viewBox="0 0 792 612" enable-background="new 0 0 792 612" xml:space="preserve">
            <g id="Layer_1_1_">
              <text transform="matrix(1 0 0 1 1.4531 352.1445)" fill="#F7931E" font-family="'IowanOldStyle-Roman'" font-size="396.2547" letter-spacing="-63">W</text>
              <text transform="matrix(1 0 0 1 347.4272 352.1445)" fill="#F7931E" font-family="'IowanOldStyle-Roman'" font-size="346.7228" letter-spacing="-55">O</text>
              <text transform="matrix(1 0 0 1 568.5527 352.1445)" fill="#F7931E" font-family="'IowanOldStyle-Roman'" font-size="396.2547" letter-spacing="-62">F</text>
            </g>
          </svg>
        </a>
        </div>
        <div class="collapse navbar-collapse" id="navigation">
          <ul class="nav navbar-nav navbar-right">
              {{> loginButtons}}
          </ul>
          <ul class="nav navbar-nav">
            <li><a href="{{pathFor 'propertiesList'}}">Properties</a></li>
            <li><a href="{{pathFor 'contact'}}">Contact</a></li>
          </ul>
        </div>
    </div>
    </nav>
</template>
